
/************************
****** Page Layout ******
************************/




/******************
****** Posts ******
******************/
.post { border:solid 1px #b0b0b0; background-color:white; margin-bottom:15px; }

.post-header { overflow:hidden; max-width:100%; padding:18px; }
.post-header>div:first-child { float:left; }
.post-header>div:last-child { float:right; }

.post-footer { margin:0 0 0px 15px; }
.post-footer>div { overflow:hidden; max-width:100%; }
.post-footer>div img { float:left; margin-left:0px; }
.post-footer>div:nth-last-child(n+2) { padding-bottom:6px; }

.post-footer>.extralinks { padding:10px 5px 0px 5px; margin-bottom:12px; }
.post-footer>.extralinks>a { margin-right:22px; }

.post-message { margin-left:80px; }

.post-image-wrap { margin:0px; }
.post-content-wrap { margin:0px 22px 0px 22px; }
.post-content-left { float:left; width:45%; max-width: 280px; margin-right:20px; }

/* Responsive Images */
.post-image { width:100%; }
.post-image-mini { max-width:100%; }

/* Fluid Video Container, thanks to "AvexDesigns.com/responsive-youtube-embed/" */
.video-embed-flex {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-embed-flex iframe,
.video-embed-flex object,
.video-embed-flex embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/************************
****** Open Blocks ******
************************/

.open-block { width:100%; border:solid 1px #b0b0b0; background-color:white; padding:10px; }


/*******************
****** Inputs ******
*******************/

.comment-box-wrap { margin-left:84px; margin-right:15px; }
.comment-box-wrap>textarea { box-sizing:border-box; }
.comment-box { width:100%; padding:10px; font-size:16px; font-family:Arial; color:#475055; resize:vertical; box-sizing:border-box; margin-bottom:10px; }
.comment-box-input {  }

/******************
****** Icons ******
******************/

.post-icon { font-size:24px; vertical-align:middle; color:#ea6060; }
.post-avi { float:left; margin:15px 10px 5px 10px !important; }


/********************
****** Top Bar ******
********************/

#top-bar { width:100%; position:relative; margin-bottom:0px; padding:0px; }
#top-bar-img { width:100%; margin:0px; padding:0px; }
#top-avi-wrap { position:absolute;left:4%;top:10%;width:20%; }
#top-propic { width:100%; height:auto; border:10px solid rgba(255, 255, 255, 0.5); border-radius:50%; }
#top-name { position:absolute; left:2%; bottom:5%; font-size:1.5em; color:#fff; font-weight:bold; text-align:center; }
#top-name>span { font-size:0.8em; }
#top-connect { position:absolute; right:2%; bottom:4%; }

/*********************************
****** Left Panel - Modules ******
*********************************/

.side-module
{
	width:100%;
	border:solid 1px #b0b0b0;
	box-shadow: 0 0 0 1px #dcdcdc;
	margin-bottom:7px;
	background-color:white;
}

.side-header
{
	width:100%;
	padding:0px;
	font-size:14px;
	font-weight:bold;
	color:#152840;
	height:40px;
	line-height:40px;
	vertical-align:middle;
}

.side-header>a { color:#152840; }
.side-header>a:visited { color:#152840; }

.side-header span
{
	color:#57c2c1;
	font-size:20px;
	vertical-align:middle;
	padding:0 12px 0 12px;
}

.side-footer
{
	border-top:solid 1px #b0b0b0;
	line-height:22px;
	height:22px;
	padding-left:10px;
	font-size:14px;
	vertical-align:middle;
}

.side-photos { padding:4px 2px 0px 4px; }
.side-photos img
{
	display:inline-block;
	width:93px;
	height:93px;
	padding:0px 3px 1px 0px;
}

.side-photo-caption { padding:3px; }
.side-photo-caption>div
{
	display:inline-block;
	width:100%;
	height:100px;
	font-size:14px;
}

.side-photo-caption>div>img
{
	float:left;
	margin-right:4px;
	height:100px;
	max-width:130px;
}
