
/************************
****** Page Layout ******
************************/



/*****************************
****** General Elements ******
*****************************/

.overwrap-box { background-color:#d5e4ed; border:solid 1px #c0c0c0; border-radius:4px; padding:6px; margin-bottom:7px; }
.inner-box { background-color:#e8eef1; border:solid 1px #c0c0c0; border-radius:4px; padding:6px; margin-top:6px; width:100%; overflow:hidden; }
.overwrap-line { padding:0px 2px 0px 2px; font-weight:bold; font-size:1.2em; }

.spacer { height:50px; }

.thread-tline { background-color:#77b5db; border-radius:5px; padding:4px; margin-bottom:7px; color:white; font-weight:bold; overflow:hidden; }
#content .thread-tline a { color:white !important; }
.thread-tline a:hover { text-decoration:underline !important; }

.thread-page { background-color:#77B5DB; padding:2px 4px 2px 4px; border-radius:4px; }
.thread-tline .thread-page:hover { text-decoration:none !important; background-color:#ea6060 !important; }
.thread-page.thread-page-active { background-color:#ea6060 !important; }

.thread-post { height:100%; width:100%; overflow:hidden; border:solid 1px #c0c0c0; border-radius:5px; background-color:#e8eef1; margin-bottom:6px; }


/*************************
****** Friends Page ******
*************************/

.friend-block
{
	display:inline-block;
	margin-bottom:4px;
	margin-right:4px;
	padding:5px;
	position:relative;
	text-align:center;
	border-radius:6px;
	font-size:0.8em;
	background-color:#c7e0ee;	
	background-image:-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-moz-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-ms-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-o-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#c7e0ee), to(#e8eef1));
	background-image:-webkit-linear-gradient(top, #c7e0ee, #e8eef1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7e0ee', endColorstr='#e8eef1');
}


/************************
****** Social Page ******
************************/

/* The Header Photo */
#social-wrap { box-shadow: 3px 3px 3px #888888; margin-bottom:10px; }
#social-header { position:relative; width:100%; margin:0px; padding:0px; }
#social-header-img { display:block; width:100%; margin:0px; padding:0px; }
#social-propic { position:absolute; left:4%; top:10%; width:20%; }
#social-propic>img { width:100%; height:auto; border:10px solid rgba(255, 255, 255, 0.5); border-radius:50%; }
#social-name { position:absolute; left:2%; bottom:5%; font-size:1.5em; color:#fff; font-weight:bold; text-align:center; }
#top-connect { position:absolute; right:2%; bottom:4%; }

/* The Header Under-Bar */
#personal-stats { width:100%; height:50px; background-color:#57c2c1; border-left:solid 1px #129290; border-bottom:solid 1px #129290; }
#personal-stats-left { float:left; }

.stat-module { display:inline-block; height:50px; min-width:55px; padding:2px 20px 0px 10px; color:#075857; border-right:2px solid #129290; }
.sm-top { font-size:22px; font-weight:bold; color:white; line-height:26px; }
.sm-bot { line-height:22px; }

#personal-stats-right { float:right; height:64px; }


/* Follow Button */
.follow-button { position:absolute; border-radius:6px; font-size: 25px; color:white; background-color:#ea6060; border:1px solid white; text-transform:uppercase; vertical-align:middle; }
.follow-button>a { display:block; padding:6px 14px 6px 14px; height:32px; line-height:24px; color:white !important; vertical-align:middle; }
.follow-button:hover { background-color:white; color:#ea6060; border:1px solid #ea6060; }
.follow-button:hover>a { color:#ea6060 !important; }
.follow-button.clicked { background-color:white; border:1px solid #ea6060; }
.follow-button.clicked>a { color:#ea6060 !important; }

#follow-high { right:10px; bottom:50px; }
#follow-low { right:10px; bottom:10px; }

/* Post Message Box */
#post-box { border:1px solid #c0c0c0; background-color:white; margin-bottom:4px; min-height:60px; }

#post-left { float:left; width:45px; padding:20px 10px 10px 20px; color:#57c2c1; font-size:15px; font-weight:bold; text-align:center; }
#post-left>span { color:#ea6060; font-size:24px; }
#post-right { margin-left:85px; }

#post-top { width:100%; }
#post-textwrap { padding:8px 2px 8px 0px; }
#post-textwrap>textarea { width:100%; resize:vertical; font-size:16px; font-family:Arial; padding:4px; }

#post-bottom { overflow:hidden; }

#post-bottom-left { font-size: 20px; color:#237eee; padding-top:8px; padding-bottom:10px; display:inline-block; }
#post-bottom-left span { padding:5px 10px 5px 10px; border-right:1px solid #d8d8d8; }
#post-bottom-left a, #post-bottom-left a:visited { color:#237eee; }
#post-bottom-left a:first-child { border-left:1px solid #d8d8d8; }

#post-bottom-right { float:right; }


/*********************
****** Comments ******
*********************/

#post-feed { border-bottom:solid 1px #c0c0c0; }

.comment { min-height:60px; border:1px solid #c0c0c0; border-bottom:none; background-color:#e8eef1; padding-top:18px; overflow:hidden; }

.comment-left { float:left; width:65px; padding:0px 5px 10px 10px; }
.comment-right { margin-left: 90px; }

.comment-data { float:left; font-size:16px; }
.comment-data span { color:#152840; font-weight:bold; }
.comment-data>a { color:#5d5d5d; }
.comment-data>a:visited { color:#5d5d5d; }
.comment-data>a:hover { color:#152840; }

.comment-time-post { float:right; color:#b2b2b2; padding-right:22px; }

.comment-message { display:inline-block; width:100%; padding-top:4px; color:#475055; font-size:16px; line-height:24px; max-height:800px; overflow-y:auto; }
.comment-message img { max-width:100%; }

.comment-image { width:100%; padding-top:14px; }

.comment-wrap { width:100%; }
.comment-wrap>.extralinks { font-size:14px; text-align:right; padding-right:22px; padding-bottom:2px; }
.comment-wrap>.extralinks a { padding-left:32px; }

.comment-repost { color:gray; padding:2px 0px 2px 0px; }


/**************************
****** Post Elements ******
**************************/

.comment-message ul, .inner-box ul, #preview ul { list-style-type:disc;margin-left:1em; }

/* Mobile Version */
@media screen and (max-width:600px) {
	.comment { padding-top:6px; }
	.comment-left { display:none; }
	.comment-right { margin-left:0px; }
}


/******************************
****** Responsive Design ******
******************************/

/* Fluid Video Container, thanks to "AvexDesigns.com/responsive-youtube-embed/" */
.video-embed-flex {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-embed-flex iframe,
.video-embed-flex object,
.video-embed-flex embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}