
/************************
****** Page Layout ******
************************/



/************************
****** Social Page ******
************************/

/* The Header Photo */
#social-wrap { box-shadow: 3px 3px 3px #888888; margin-bottom:10px; }
#social-header { position:relative; width:100%; margin:0px; padding:0px;  }
#social-header-img { display:block; width:100%; margin:0px; padding:0px; }
#social-propic { position:absolute; left:4%; top:10%; width:20%; }
#social-propic>img { width:100%; height:auto; border:10px solid rgba(255, 255, 255, 0.5); border-radius:50%; }
#social-name { position:absolute; left:2%; bottom:5%; font-size:1.5em; color:#fff; font-weight:bold; text-align:center; }
#top-connect { position:absolute; right:2%; bottom:4%; }

/* The Header Under-Bar */
#personal-stats { width:100%; height:50px; background-color:#57c2c1; border-left:solid 1px #129290; border-bottom:solid 1px #129290; }
#personal-stats-left { float:left; }

.stat-module { display:inline-block; height:50px; min-width:55px; padding:2px 20px 0px 10px; color:#075857; border-right:2px solid #129290; }
.sm-top { font-size:22px; font-weight:bold; color:white; line-height:26px; }
.sm-bot { line-height:22px; }

#personal-stats-right { float:right; height:64px; }



/* Follow Button */
#follow-button { background-color:white; color:#ea6060; border:1px solid #ea6060; border-radius:6px; padding:6px 20px 6px 20px; font-size: 15px; text-transform:uppercase; height:30px; margin-top:10px; margin-right:13px; line-height:30px; vertical-align:middle; }
#follow-button>span { font-size:25px; vertical-align:middle; }
#follow-button:hover { color:white; background-color:#ea6060; border:1px solid white; }

#follow-button.clicked { color:white; background-color:#ea6060; border:1px solid white; }


/* Post Message Box */
#post-box { border:1px solid #c0c0c0; background-color:white; margin-bottom:4px; min-height:60px; }

#post-left { float:left; width:45px; padding:20px 10px 10px 20px; color:#57c2c1; font-size:15px; font-weight:bold; text-align:center; }
#post-left>span { color:#ea6060; font-size:24px; }
#post-right { margin-left:85px; }

#post-top { width:100%; }
#post-textwrap { margin-right:18px; padding:8px 2px 8px 0px; }
#post-textwrap>textarea { width:100%; resize:vertical; font-size:16px; font-family:Arial; padding:4px; }

#post-bottom-left { font-size: 20px; color:#ea6060; padding-top:8px; padding-bottom:10px; display:inline-block; }
#post-bottom-left span { padding:5px 10px 5px 10px; border-right:1px solid #d8d8d8; }
#post-bottom-left a { color:#ea6060; }
#post-bottom-left a:first-child { border-left:1px solid #d8d8d8; }

#post-bottom-right { display:inline-block; float:right; margin-right:15px; }


/*********************
****** Comments ******
*********************/

#post-feed { border-bottom:solid 1px #c0c0c0; }

.comment { min-height:60px; border:1px solid #c0c0c0; border-bottom:none; background-color:white; padding-top:18px; overflow:hidden; }

.comment-left { float:left; width:65px; padding:0px 5px 10px 10px; }
.comment-right { margin-left: 90px; }

.comment-data { float:left; font-size:16px; }
.comment-data span { color:#152840; font-weight:bold; }
.comment-data>a { color:#5d5d5d; }
.comment-data>a:visited { color:#5d5d5d; }
.comment-data>a:hover { color:#152840; }

.comment-time-post { float:right; color:#b2b2b2; padding-right:22px; }

.comment-message { display:inline-block; width:100%; padding-top:4px; color:#475055; font-size:16px; line-height:24px; max-height:800px; overflow-y:auto; }
.comment-message img { max-width:100%; }

.comment-image { width:100%; padding-top:14px; }

.comment-wrap { width:100%; }
.comment-wrap>.extralinks { font-size:14px; text-align:right; padding-right:22px; padding-bottom:2px; }
.comment-wrap>.extralinks a { padding-left:32px; }

.comment-repost { color:gray; padding:2px 0px 2px 0px; }


/******************************
****** Responsive Design ******
******************************/

/* Fluid Video Container, thanks to "AvexDesigns.com/responsive-youtube-embed/" */
.video-embed-flex {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-embed-flex iframe,
.video-embed-flex object,
.video-embed-flex embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
